#feed {
    background: lavender;
}

.feed-post {
    min-width: 320px;
    max-width: 600px;
    min-height: 200px;
    margin: 5px auto;
    background: white;
    align-content: center;
}

.feed-post__item-container {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
    flex-grow: 1.7;
}


.feed-post__item-link {
    display: flex;
    margin: 2px;
    flex: 1;
    align-content: center;
}

.feed-post__img {
    display: block;
    flex: 1;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.feed-post__panel {
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    max-height: 50px;
}