#page-container {
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

#feed {
    background: lavender;
    margin-top: 20px;
}

.feed-post {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    margin: 0 auto 20px;
    background: white;
    align-content: center;
}

.feed-post__item-container {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
    flex-grow: 1.7;
}


.feed-post__item-link {
    display: flex;
    margin: 2px;
    flex: 1;
    align-content: center;
    position: relative;
}

.feed-post__img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.feed-post__panel {
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    max-height: 50px;
}

.feed-post__panel__btn-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 150px;
    min-height: 50px;
}

.feed-post__panel__btn-container > * {
    flex: 1;
    margin: 5px;
}

.feed-post__panel__link {
    min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-width: 35px;
    cursor: pointer;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.feed-post__panel__score {
    display: table;
    min-width: 30px;
    max-width: 50px;
    margin: auto 0;
}

.feed-post__panel__score-text {
    text-align: center;
    display: block;
}
