.post-container {
    width: 96%;
    padding: 5px; 
    background: #fff;
    border: 1px solid #eee;
    margin: 2%;
    display: table;
}

.user-container img {
    border: 1px solid #eee;
    width: 32px;
    height: 32px;
}

.items-container img {
    width: 48%;
    max-height: 400px;
    border: 1px solid #eee;
}


#menu > li.active{
    background-color: #dadada;
    cursor: default;
}

.vote-content > div {
    float: left;
}

.vote-content > b {
    display: block;
    height: 16px;
    width: 16px;
    float: left;
}

.dislike {
    background-image: url(/static/downvote.svg);
}

.like {
    background-image: url(/static/upvote.svg);
}

.dislike_active {
    background-image: url(/static/downvote_active.svg);
}

.like_active {
    background-image: url(/static/upvote_active.svg);
}

.save {
    background-image: url(/static/save.svg);
}

.save_active {
    background-image: url(/static/save_active.svg);
}

