li#tabs-filter-btn.nopm {
    padding: 0.7em;
    margin: 0;
}

#tabs-filter-btn img {
    width: 2em;
    height: 2em;
}

#tabs {
    height: 3em;
    width: 100%;
    display: flex;
    background: #eee;
    padding: 1px;
    margin: 0;
}

#tabs li {
    flex: 1;
    margin: 5px;
    padding: 5px;
    list-style: none;
    text-align: center;
    color: #888;
    background: #eee;
}

#tabs li.active{
    flex: 1;
    margin: 5px;
    padding: 5px;
    list-style: none;
    text-align: center;
    background: #888;
    color: #444;
}

#tabs-content {
    background: #eaeaea;
}
