{% for post in feed %}
<table class="post-container" id='feed_{{ post['id'] }}'>
    <tr><td class="user-container">
        <img src="user-image/{{ post['user_id'] }}"/>
        {{ post.user_name}} posted {{ post.timestamp|timesince }}
    </td></tr>
    <tr><td class="items-container">
        <a href="/item/{{ post['item_1_id'] }}" target="_blank">
            <img src="item-image/{{ post['item_1_id'] }}"/>
        </a>
        <a href="/item/{{ post['item_2_id'] }}" target="_blank">
            <img src="item-image/{{ post['item_2_id'] }}"/>
        </a>
    </td></tr>
    <tr>
        {% include 'vote.html' %}
    </tr>
</div>
</table>
{% endfor %}
